# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Temp
tmp/
temp/

# Node
node_modules/
package-lock.json

# Arquivos sensíveis
Senha do banco de dados.txt
*.env
.env*
